# SETTINGS

# Maximum number of objects to be stored simultaneously in memory
# Default Value: 10000
CACHE_SLOTS = 10000

# Default time-to-live value of objects if no value is provided, in seconds
# Default Value: 3600
OBJECT_TTL = 3600

# Eviction Policy, what to do if all cache slots are filled. Options: OLDEST_FIRST, NEWEST_FIRST or REJECT
# Default Value: REJECT
EVICTION_POLICY = REJECT